# Exercícios 9

## Exercício

Calcule o número de episódios em cada geração.

## Exercício

Construa uma tabela com o número de vitórias e derrotas de Federer para cada tipo de terreno.

## Exercício 1

In [64]:
import pandas as pd
lispoktab=pd.read_html( "https://pt.wikipedia.org/wiki/Lista_de_epis%C3%B3dios_de_Pok%C3%A9mon")
dfep = lispoktab[2]['Episódios']
dfep

   Episódios  Episódios.1
0        118          276
1        158          276
2        193          193
3        191          191
4        144          144
5        140          140
6        146          146
7         82           82
8       1172         1172

In [65]:
dfep.loc[0,'Episódios']

118

In [66]:
episodio_geracao = []
for i in range(len(lispoktab[2]['Episódios'])):
    episodio_geracao.append(dfep.loc[i,'Episódios'] + dfep.loc[i,'Episódios.1'])
    
episodio_geracao

[394, 434, 386, 382, 288, 280, 292, 164, 2344]

## Exercício 2

In [67]:
%%sh

git clone https://github.com/ipython-books/cookbook-data.git
cd cookbook-data
unzip tennis.zip

Archive:  tennis.zip

fatal: destination path 'cookbook-data' already exists and is not an empty directory.
replace data/Andy-Murray.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)

CalledProcessError: Command 'b'\ngit clone https://github.com/ipython-books/cookbook-data.git\ncd cookbook-data\nunzip tennis.zip\n'' returned non-zero exit status 1.

In [68]:
!ls cookbook-data/data

Andy-Murray.csv  Novak-Djokovic.csv  Rafael-Nadal.csv  Roger-Federer.csv

In [2]:
import numpy as np
import pandas as pd
player = 'Roger Federer'
filename = "./cookbook-data/data/{name}.csv".format(name=player.replace(' ', '-')) 
df = pd.read_csv(filename)

In [3]:
df.head()

,year,tournament,start date,type,surface,draw,atp points,atp ranking,tournament prize money,round,...,player2 2nd serve return points total,player2 break points converted won,player2 break points converted total,player2 return games played,player2 total service points won,player2 total service points total,player2 total return points won,player2 total return points total,player2 total points won,player2 total points total
0,1998,"Basel, Switzerland",05.10.1998,WS,Indoor: Hard,Draw: 32,1,396.0,"$9,800",R32,...,22.0,4.0,8.0,8.0,36.0,50.0,26.0,53.0,62.0,103.0
1,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R32,...,19.0,0.0,1.0,8.0,33.0,65.0,8.0,41.0,41.0,106.0
2,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R16,...,30.0,0.0,4.0,10.0,46.0,75.0,23.0,73.0,69.0,148.0
3,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",Q,...,28.0,3.0,10.0,10.0,44.0,63.0,26.0,67.0,70.0,130.0
4,1998,"Geneva, Switzerland",24.08.1998,CH,Outdoor: Clay,Draw: 32,1,680.0,$520,R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
superficies = []
for superficie in df['surface']:
    superficies.append(superficie)
superficies = set(superficies)
superficies

{'Indoor: Carpet',
 'Indoor: Clay',
 'Indoor: Hard',
 'Outdoor: Clay',
 'Outdoor: Grass',
 'Outdoor: Hard'}

In [5]:
df.columns

Index(['year', 'tournament', 'start date', 'type', 'surface', 'draw',
       'atp points', 'atp ranking', 'tournament prize money', 'round',
       'opponent', 'ranking', 'score', 'stats link', 'tournament.1',
       'tournament round', 'time', 'winner', 'player1 name',
       'player1 nationality', 'player1 aces', 'player1 double faults',
       'player1 1st serves in', 'player1 1st serves total',
       'player1 1st serve points won', 'player1 1st serve points total',
       'player1 2nd serve points won', 'player1 2nd serve points total',
       'player1 break points won', 'player1 break points total',
       'player1 service games played', 'player1 1st serve return points won',
       'player1 1st serve return points total',
       'player1 2nd serve return points won',
       'player1 2nd serve return points total',
       'player1 break points converted won',
       'player1 break points converted total', 'player1 return games played',
       'player1 total service points won',
       'player1 total service points total', 'player1 total return points won',
       'player1 total return points total', 'player1 total points won',
       'player1 total points total', 'player2 name', 'player2 nationality',
       'player2 aces', 'player2 double faults', 'player2 1st serves in',
       'player2 1st serves total', 'player2 1st serve points won',
       'player2 1st serve points total', 'player2 2nd serve points won',
       'player2 2nd serve points total', 'player2 break points won',
       'player2 break points total', 'player2 service games played',
       'player2 1st serve return points won',
       'player2 1st serve return points total',
       'player2 2nd serve return points won',
       'player2 2nd serve return points total',
       'player2 break points converted won',
       'player2 break points converted total', 'player2 return games played',
       'player2 total service points won',
       'player2 total service points total', 'player2 total return points won',
       'player2 total return points total', 'player2 total points won',
       'player2 total points total'],
      dtype='object')

In [25]:
dataframe_vitorias_em_terrenos = pd.crosstab(player, [df['player1 name'],df['winner'] == True, df['surface']])
dataframe_vitorias_em_terrenos

player1 name   Roger Federer                                          \
winner                 False
surface       Indoor: Carpet Indoor: Clay Indoor: Hard Outdoor: Clay
row_0
Roger Federer             76            6          226           249

player1 name
winner
surface       Outdoor: Grass Outdoor: Hard
row_0
Roger Federer            140           482